[submodule "tailwindcss"]
	path = reference/tailwindcss
	url = https://github.com/tailwindlabs/tailwindcss.git
[submodule "reference/tailwind-merge"]
	path = reference/tailwind-merge
	url = https://github.com/dcastil/tailwind-merge.git
[submodule "reference/clsx"]
	path = reference/clsx
	url = https://github.com/lukeed/clsx.git
[submodule "reference/tailwindcss-typography"]
	path = reference/tailwindcss-typography
	url = https://github.com/tailwindlabs/tailwindcss-typography.git
[submodule "reference/tailwindcss-forms"]
	path = reference/tailwindcss-forms
	url = https://github.com/tailwindlabs/tailwindcss-forms.git
[submodule "reference/cva"]
	path = reference/cva
	url = https://github.com/joe-bell/cva.git
[submodule "reference/tw-animate-css"]
	path = reference/tw-animate-css
	url = https://github.com/Wombosvideo/tw-animate-css.git
